{% extends 'GeoPagosCommonBackBundle:Layout:layout.html.twig' %}
{% set action_url = path('withholding_tax_register_province_new_backoffice_section') %}
{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><strong>{{ 'withholdingRaxRegisterProvince.new.title' | trans }}
                            {{ nextMonth }}
                        </strong></h2>
                </div>
                <div class="panel-body">
                    {% include 'GeoPagosCommonBackBundle:Common:messages.html.twig' %}
                    {{ form_errors(form,{'flashMessage':1}) }}

                    {{ form_start(form, {
                        'action': '',
                        'attr': {'class': 'form-horizontal'}
                       })
                    }}
                    {{ form_row(form.origin) }}
                    {% if withholdingTaxRegisterProvince is not defined %}
                        {{ form_row(form.dbFile) }}
                    {% endif %}

                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}
