{% extends 'GeoPagosCommonBackBundle:Layout:layout.html.twig' %}

{% set action_url = path('withholding_tax_register_micro_enterprise_new') %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>
                        <strong>{{ 'WithholdingTaxRegisterMicroEnterprise.new.title' | trans }}
                            {{ nextMonth }}
                        </strong></h2>
                </div>
                <div class="panel-body">
                    {% include 'GeoPagosCommonBackBundle:Common:messages.html.twig' %}
                    {{ form_errors(form,{'flashMessage':1}) }}

                    {{ form_start(form, {
                        'action': '',
                        'attr': {'class': 'form-horizontal'}
                    }) }}

                    {{ form_row(form.dbFile) }}
                    {{ form_row(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
