<div class="panel panel-default">
    <div class="panel-body">
        {{ form_row(form.type) }}
        {{ form_row(form.tax_category) }}
        {{ form_row(form.province) }}

        {{ form_row(form.rate) }}
        {{ form_row(form.minimun_amount) }}
        {{ form_row(form.classification) }}

        {{ form_row(form.tax_condition) }}
        {{ form_row(form.income_tax) }}

        {{ form_row(form.payment_method_type) }}
    </div>
</div>